<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <div class="hero">
      <h1 class="hero-heading">CyberISE</h1>
      <p class="hero-caption">A 12 Hour CTF Challenge</p>
    </div>
    <div class="benefits">
        This is benefits :)
    </div>

    <div class="rules">
        Here comes all the Rules :)
    </div>

.

    <%- include('partials/footer') %>
  </body>
</html>
