<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css" />

  <title>Write-up Countdown</title>
</head>
<body>
    <%- include ('partials/header')%>

  <!-- Message above the timer -->
  <p id="writeupInfo">Write-ups will be available in </p><h1><span id="countdown"></span></h1>

  <!-- Timer Script -->
  <script>
    // Set the target date for 18th December 2024, 12 AM
    var targetDate = new Date('December 18, 2024 00:00:00').getTime();

    // Update the countdown every 1 second
    var countdownInterval = setInterval(function() {

      // Get the current date and time
      var currentDate = new Date().getTime();

      // Calculate the difference between the target date and current date
      var timeRemaining = targetDate - currentDate;

      // Calculate days, hours, minutes, and seconds
      var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
      var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
      var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
      var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

      // Display the countdown in the element with id="countdown"
      document.getElementById("countdown").innerHTML = days + "d : " + hours + "h : "
        + minutes + "m : " + seconds + "s ";

      // If the countdown is over, display a message
      if (timeRemaining < 0) {
        clearInterval(countdownInterval);
        document.getElementById("countdown").innerHTML = "The write-up is now available!";
      }
    }, 1000);
  </script>
    <%- include ('partials/footer')%>

</body>
</html>
